<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png"
        href="https://www.freefavicon.com/freefavicons/letters/wood-texture-alphabet-b-152-299941.png" />
    <title> Sign Up</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-4 mt-3">Sign UP</h1>

        <form action="/signup" method="post">

            <div class="form-group">
            
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" />
            
            </div>
            <%- include('_user_field.ejs') %>

            <button type="submit" class="submit btn btn-primary">Sign Up</button>

        </form>
        <P class="m-3">Have a accout please !!..  <a href="/"> Login</a></P>




    </div>
</body>

</html>